{
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "printWidth": 80,
  "proseWrap": "never",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf"
}
